[submodule "Software/hal"]
	path = Software/hal
	url = git@github.com:j-greffe/hal.git
[submodule "Software/kal"]
	path = Software/kal
	url = git@github.com:j-greffe/kal.git
[submodule "Software/drivers"]
	path = Software/drivers
	url = git@github.com:j-greffe/drivers.git
